# Directories
build/
.vscode/
edge_impulse/edge-impulse-sdk/
edge_impulse/model-parameters/
edge_impulse/tflite-model/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

*.pyc
